[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "external/openexr"]
	path = external/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr
[submodule "external/miyuki.serialize"]
	path = external/miyuki.serialize
	url = http://github.com/shiinamiyuki/miyuki.serialize
[submodule "external/miyuki.math"]
	path = external/miyuki.math
	url = https://github.com/shiinamiyuki/miyuki.math
