[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng
